# Web App Framework
streamlit

# Core Data Science Stack
numpy==1.24.4
pandas
scikit-learn==1.3.2
scipy

# Visualizations
matplotlib
seaborn
plotly

# Specialized Clustering Models
hdbscan==0.8.33
minisom

# Image Processing (often a dependency for Streamlit/Matplotlib)
Pillow
